.header {
    padding: 30px;
    text-align: center;
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.header2 {
    text-align: center;
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.header3 {
    align-content: center;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

a:visited {
    color: blue;
}

.container {
    border: 2px solid #ccc;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

.prices {
    color: red;
}

#table {
    transform: rotate(90deg);
}

#table th,
#table td {
    transform: rotate(-90deg);
}

td {
    height: 50px;
}